.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items horizontally */
  justify-content: center; /* Center the items vertically */
  margin: 0 auto; /* Center the container */
  padding: 20px;
}

.row {
  display: flex;
  align-items: center; /* Ensures vertical centering */
  margin-bottom: 10px;
}

.row input[type="text"],
.row label {
  margin-right: 10px;/* Adjust this to match input and button heights */
}

.invalid-row label {
  color: black; /* Change text color to black for labels */
}

.clear-all-btn {
  margin-left: 10px;
  padding: 7px 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  line-height: 1.5; /* Adjust line-height to ensure alignment */
  cursor: pointer;
}

.clear-all-btn:hover {
  background-color: rgb(221, 82, 82);
}

.clear-btn {
  margin-left: 10px;
  padding: 4px 15px; /* Padding for buttons */
  border-radius: 4px; /* Rounded corners */
  background-color: red;
  color: white;
  border: none;
  line-height: 1.5; /* Adjust line-height to ensure alignment */
  cursor: pointer;
}

.clear-btn:hover {
  background-color: rgb(221, 82, 82);
}

.submit-btn {
  margin-left: 10px;
  padding: 7px 15px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 3px;
  line-height: 1.5; /* Adjust line-height to ensure alignment */
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(60, 173, 60);
}

.download-template-btn {
  margin-bottom: 10px;
  padding: 10px 15px; /* Padding for buttons */
  border-radius: 4px; 
  background-color: rgb(14, 14, 131);
  color: white;
  border: none;
  border-radius: 3px;
  line-height: 1.5; /* Adjust line-height to ensure alignment */
  cursor: pointer;
}

.download-template-btn:hover {
  background-color: rgb(41, 41, 95);
}

.invalid-row {
  background-color: #e2747d;
  border-color: #eb6e7a;
}

input[type="number"] {
  width: 40px; /* Adjust width as necessary */
}

.loading-bar {
  width: 70%;
  background-color: gray;
  height: 20px;
  border-radius: 5px;
  position: relative;
  margin-top: 20px;
}

.loading-progress {
  height: 20px;
  background-color: #76c7c0;
  border-radius: 5px;
  transition: width 0.1s ease-in-out;
}
